[Unit]
Description=Nodestack Website
Requires=After=mongodb.service

[Service]
ExecStart=/usr/local/bin/node /home/nodestack/nodestack/app/server.js
WorkingDirectory=/home/nodestack/nodestack
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodestack # journalctl -u nodestack
User=nodestack

[Install]
WantedBy=multi-user.target
