extend header

block content 
  if data
    each item in data
      if item._id
        p
          a(href='/generic/' + item._id) #{item.name}
      else
        pre=JSON.stringify(locals, null, 4)
  if error
    pre=error
