extend header

block content 
  div.main(ng-controller="MainController")
    input(ng-model='input')
    button(ng-click='reverse()') Reverse
    p {{ output }} 
    pretty
  
    form(action='/generic', method='GET')
      p
        | foo: 
        input(type='text', name='foo')
  
        button.search search
  
